
.container{
    width: 65%;
    margin: auto;
  }

  .content{
    margin: 2rem auto;
  }

  .form{
    width: 30vmin;
  }

  .form-control{
    margin: 0;
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
  }
